.container {
    h1 {
        font-size: 48px;
        font-weight: 500;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        margin-top: 24px;
    }

    p {
        margin-bottom: 6px;
    }

    hr {
        margin: 14px 0px;
    }
}